<form class="form-row" method="post" action="/lista-de-partidas?method={% if id is defined %}update{% else %}save{% endif %}">
    <div class="container text-center">
        <div class="row">
            <div class='col-sm-12 form-group'>
                <h2>{% if id is defined %}Modificar{% else %}Crear{% endif %} partida</h2>
            </div>
        </div>
        {% if error is not empty %}
            <div class="row">
                <div class='col-sm-12 form-group'>
                    <div class="alert alert-warning" role="alert">
                        {{ error }}
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class='col-sm-12 form-group'>
                <label for="game-name" class="control-label">Juego</label>
                <div style="clear: both;"></div>
                <input id="game-name" name="game-name" type="text" placeholder="¿A qué jugamos?"
                    {% if sent is defined %}value="{{ sent['game-name'] }}"{% endif %}>
                <input id="game-id" name="game-id" type="hidden"
                   {% if sent is defined %}value="{{ sent['game-id'] }}"{% endif %}>
                <input id="id" name="id" type="hidden" value="{% if id is defined %}{{ id }}{% endif %}">
            </div>
        </div>
        <div class="row" id="game-spinner" style="display: none">
            <div class='col-sm-12'>
                <img height="100" width="100" src="/wp-content/plugins/wp-alcazaba/public/image/200w.gif" alt="">
            </div>
        </div>
        <div class="row" id="game-link" style="display: none">
            <div class='col-sm-12'>
                <a id="game-link-a" href="" target="_blank"></a>
            </div>
        </div>
        <div class="row">
            <div class='col-sm-12 form-group'>
                <label for="game-datetime" class="control-label">Fecha y hora</label>
                <div style="clear: both;"></div>
                <input name="game-datetime" id="game-datetime" class="flatpickr flatpickr-input" type="hidden"
                       placeholder="¿Cuándo quedamos?">
            </div>
        </div>
        <div class="row">
            <div class='form-group col-sm-12' id="endtime-box"
                 style="{% if sent is defined and sent['game-endtime'] is not empty %}display: none{% endif %}">
                <label for="add-endtime" class="control-label">Añadir hora de fin</label>
                <div style="clear: both;"></div>
                <input id="add-endtime" name="add-endtime" type="checkbox">
            </div>
            <div class='form-group col-sm-6 col-sm-offset-3' id="endtime-field"
                 style="{% if sent is defined and sent['game-endtime'] is not empty %}{% else %}display: none{% endif %}">
                <label for="game-endtime" class="control-label">Hora de final</label>
                <div style="clear: both;"></div>
                <input name="game-endtime" id="game-endtime" class="flatpickr flatpickr-input" type="hidden"
                       placeholder="¿Cuándo acabaremos?">
            </div>
        </div>
        <div class="row">
            <div class='form-group col-sm-12' id="description-box"
                style="{% if sent is defined and sent['game-description'] is not empty %}display: none{% endif %}">
                <label for="add-description" class="control-label">Añadir una descripción</label>
                <div style="clear: both;"></div>
                <input id="add-description" name="add-description" type="checkbox">
            </div>
            <div class='form-group col-sm-6 col-sm-offset-3' id="description-field"
                 style="{% if sent is defined and sent['game-description'] is not empty %}{% else %}display: none{% endif %}">
                <label for="game-description" class="control-label">Descripción</label>
                <div style="clear: both;"></div>
                <textarea id="game-description" name="game-description" rows="4" cols="50">{% if sent is defined %}{{ sent['game-description'] }}{% endif %}</textarea>
            </div>
        </div>
        <div class="row">
            <div class='form-group col-sm-12'>
                <label for="game-open" class="control-label">Permitir a otros unirse</label>
                <div style="clear: both;"></div>
                <input id="game-open" name="game-open" type="checkbox" {% if sent is defined and sent['game-open'] %}checked="checked"{% endif %}>
            </div>
        </div>
        <div class="row" id="player-number" style="display: none">
            <div class='col-sm-12 form-group'>
                <label for="game-players" class="control-label">Máximo de jugadores, incluido tú</label>
                <div style="clear: both;"></div>
                <input id="game-players" name="game-players" type="number" max="99" min="2"
                       value="{% if sent is defined %}{{ sent['game-players'] }}{% else %}4{% endif %}">
            </div>
        </div>
        {% if id is not defined %}
            <div class="row">
                <div class='form-group col-sm-12'>
                    <label for="game-publish" class="control-label">Publicar en el canal de Telegram</label>
                    <div style="clear: both;"></div>
                    <input id="game-publish" name="game-publish" type="checkbox" checked="checked">
                </div>
            </div>
        {% endif %}
        <div class="row margin-bottom-lg">
            <div class='form-group col-sm-12'>
                <input type="submit" value="{% if id is defined %}Modificar{% else %}Crear{% endif %} partida">
            </div>
        </div>
    </div>
</form>
<script>
    let lastKey = -1
    jQuery(function () {
        let pickerStart = flatpickr("#game-datetime", {
            enableTime: true,
            altInput:   true,
            altFormat:  "l d, a \\la\\s H:i",
            dateFormat: "Y-m-d H:i",
            time_24hr:  true,
            locale:     'es',
            minDate: "today",
        });
        let pickerEnd = flatpickr("#game-endtime", {
            enableTime: true,
            altInput:   true,
            altFormat:  "l d, a \\la\\s H:i",
            dateFormat: "Y-m-d H:i",
            time_24hr:  true,
            locale:     'es',
            minDate: "today",
        });

        {% if sent is defined %}
        pickerStart.setDate('{{ sent['game-datetime'] }}');
        if (jQuery('#game-open').is(':checked')) {
            jQuery('#player-number').show();
        } else {
            jQuery('#player-number').hide();
        }
        {% endif %}

        {% if sent is defined and sent['game-endtime'] is not empty %}
        pickerEnd.setDate('{{ sent['game-endtime'] }}');
        {% endif %}

        jQuery('#add-description').on('click', function () {
            jQuery('#description-box').hide();
            jQuery('#description-field').show();
        });

        jQuery('#add-endtime').on('click', function () {
            jQuery('#endtime-box').hide();
            jQuery('#endtime-field').show();
        });

        jQuery('#game-open').on('click', function () {
            if (jQuery('#game-open').is(':checked')) {
                jQuery('#player-number').show();
            } else {
                jQuery('#player-number').hide();
            }
        });

        if (jQuery("#game-id").val() && jQuery("#game-name").val()) {
            jQuery("#game-link-a")
                .attr('href', 'https://boardgamegeek.com/boardgame/' + jQuery("#game-id").val())
                .html(jQuery("#game-name").val() + " en la BGG");
            jQuery("#game-link").show();
        }

        let host = window.location.protocol + "//" + window.location.host;
        jQuery("#game-name").autocomplete({
            source:    function (request, response) {
                jQuery.post(host + '/wp-admin/admin-ajax.php',
                    {action: 'search_game', query: request.term},
                    function (data) {
                        response(data);
                    },
                );
            },
            minLength: 3,
            delay:     500,
            select:    function (event, ui) {
                jQuery("#game-id").val(ui.item.id);
                jQuery("#game-link-a")
                    .attr('href', ui.item.url)
                    .html(ui.item.label + " en la BGG");
                jQuery("#game-link").show();
            },
            search:    function () {
                jQuery('#game-spinner').show();
                jQuery('#game-spinner')[0].scrollIntoView();
            },
            response:  function () {
                jQuery('#game-spinner').hide();
            },
        });
    });
</script>