<div class="container">
    <div class="row text-center">
        <div class='col-xs-12'>
            <h2>Partidas</h2>
        </div>
    </div>
    <hr>
    {% if error is not empty %}
        <div class="row">
            <div class='col-sm-12 form-group'>
                <div class="alert alert-warning" role="alert">
                    {{ error }}
                </div>
            </div>
        </div>
    {% endif %}
    <div class="row text-center">
        <div class='col-xs-12'>
            <a class="btn btn-info" role="button" href="/lista-de-partidas?action=create">
                Crear partida
            </a>
        </div>
    </div>
    {% set day = 'new' %}
    {% for game in games %}
        {% if day != game.startTime|date("d M Y") %}
            {% set day = game.startTime|date("d M Y") %}
            <div class="row">
                <div class='col-xs-12 col-md-3'>
                    <h3>{{ game.startTime|date("l j F") }}</h3>
                </div>
            </div>
        {% endif %}
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="row">
                    <div class='col-xs-12 col-md-3'>
                        {{ game.startTime|date("H:i") }}
                    </div>
                    <div class='col-xs-12 col-md-6'>
                        {{ game.name }}{% if game.bggId > 0 %} -
                        <a target="_blank" href="https://boardgamegeek.com/boardgame/{{ game.bggId }}">ver en BGG</a>{% endif %}
                    </div>
                    <div class='col-xs-12 col-md-3 text-right'>
                        Creado por {{ game.createdByName }}
                    </div>
                </div>
            </div>
            <div class="panel-body">
                {% if game.description is not empty %}
                <div class="row">
                    <div class='col-xs-12'>
                        {{ game.description }}
                    </div>
                </div>
                {% endif %}
                {% if game.joinable == false %}
                <div class="row">
                    <div class='col-xs-12'>
                        Partida cerrada
                    </div>
                </div>
                {% else %}
                    <div class="row">
                        <div class='col-xs-12'>
                            <strong>Jugadores ({{ game.currentPlayers() }} / {{ game.maxPlayers }})</strong>
                        </div>
                    </div>
                    <div class="row">
                        <div class='col-xs-12'>
                            <ul>
                                {% for player in game.players %}
                                    <li>
                                        {{ player.name }}{% if player.amount > 1 %} x{{ player.amount }}{% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
                <div class="row">
                    {% if current_user_id == game.createdBy %}
                        <div class='col-xs-12 col-md-3'>
                            <a class="btn btn-info btn-game-list action-button" role="button" href="/lista-de-partidas?action=edit&id={{ game.id }}">
                                <span style="vertical-align: middle" class="material-symbols-outlined">edit</span>
                            </a>
                        </div>
                    {% endif %}
                    {% if current_user_id == game.createdBy or is_admin %}
                        <div class='col-xs-12 col-md-3'>
                            <a class="btn btn-info btn-game-list" role="button" href="/lista-de-partidas?action=delete&id={{ game.id }}" onclick="return deleteGamePrompt()">
                                <span style="vertical-align: middle" class="material-symbols-outlined">delete</span>
                            </a>
                        </div>
                    {% endif %}
                    {% if game.hasFreeSlots() and game.playerInGame(current_user_id) %}
                        <div class='col-xs-12 col-md-3'>
                            <a class="btn btn-info btn-game-list action-button" role="button" href="/lista-de-partidas?action=plus&id={{ game.id }}">
                                    <span style="vertical-align: middle"
                                          class="material-symbols-outlined">person_add</span>
                            </a>
                        </div>
                    {% endif %}
                    {% if game.hasFreeSlots() and not game.playerInGame(current_user_id) %}
                        <div class='col-xs-12 col-md-3'>
                            <a class="btn btn-info btn-game-list action-button" role="button" href="/lista-de-partidas?action=join&id={{ game.id }}">
                                    <span style="vertical-align: middle"
                                          class="material-symbols-outlined">play_circle</span>
                            </a>
                        </div>
                    {% endif %}
                    {% if game.playerInGame(current_user_id) %}
                        <div class='col-xs-12 col-md-3'>
                            <a class="btn btn-info btn-game-list action-button" role="button" href="/lista-de-partidas?action=leave&id={{ game.id }}">
                                    <span style="vertical-align: middle"
                                          class="material-symbols-outlined">logout</span>
                            </a>
                        </div>
                    {% endif %}
                    {% if game.playerHasOthers(current_user_id) %}
                        <div class='col-xs-12 col-md-3'>
                            <a class="btn btn-info btn-game-list action-button" role="button" href="/lista-de-partidas?action=minus&id={{ game.id }}">
                                    <span style="vertical-align: middle"
                                          class="material-symbols-outlined">person_cancel</span>
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="panel-footer">
            </div>
        </div>
    {% endfor %}
</div>
<script>
    jQuery(function () {
        jQuery('.action-button').on('click', function () {
            jQuery('.btn-game-list').attr('style','pointer-events:none; filter: brightness(85%);');
        });
    });

    function deleteGamePrompt() {
        let input = confirm('Borramos?');

        if (input !== false) {
            jQuery('.btn-game-list').attr('style','pointer-events:none; filter: brightness(85%);');
        }

        return input;
    }
</script>